
:root {
    --bs-primary: #4CAF4F; 
    --bs-secondary: #F5F7FA;
}



.h1{

color: #4D4D4D;
font-family: Inter;
font-size: 44.55px;
font-weight: 600;
line-height: 52.9px;

}

.p{
    
font-family: Inter;
font-size: 11.14px;
font-weight: 400;
line-height: 16.71px;
color: #717171;

}


.h1green{

    color: var(--bs-primary);
}




.register-btn {
    background-color: #4CAF4F;
    color: white !important;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
   
}

.register-btn:hover {
    background-color: #f2f2f2; 
    color: black !important;
    
}


.nav-link {
    margin-right: 30px
}



.reg-btnd{
    margin-top: 30px;
    
}

.reg-btn {
    background-color: #4CAF4F;
    color: white !important;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    
    
}


.carousel-box{

    background-color: #F5F7FA;
    margin-top: 50px;

}


.stat{

    background-color:#F5F7FA;
}

.gap-6 {
    gap: 70px;
}


@media screen and (min-width: 576px) {
.gap-sm-100 {
    gap: 100px; 
    
    
}
}

@media screen and (max-width:576px)
{

.gap-sm-100{

    flex-direction: column-reverse;
    justify-content: space-between;

}

}


.arrow-link{
    color: #4CAF4F;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    


}



.caringimg {
    position: relative;
}


.comment {
    position: absolute;
    bottom: -30px;
    left: 10px;
    right: 10px;
    background-color: #F5F7FA;
    padding: 10px;
    text-align: center;
    z-index: 1;
    border-radius: 5px;
}


.mt-10
{

    margin-top: 80px;
}


.footer-cnt{

    background-color: #263238;
    color: white;
}


.newsletter-form {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    
}

.newsletter-form input[type="email"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;

}

.newsletter-form button.arrow-submit {
    
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media  screen and (max-width: 986px) {

    .caringimg{

        margin-top: 60px;
    }
    
}














